In [2]:
import myfunc as mf

In [13]:
b = mf.myfunc(3,4)
id(b)

1833987328

In [10]:
a = eval('mf.myfunc(3,4)')
id(a)

1833987328

In [14]:
import re

In [50]:
str = "The rain in Spainxfjf falls mainly in the plain!"

#Check if the string contains "a" followed by exactly two "l" characters:
y = re.findall("nxx*", str)
x = re.findall("al{2}", str)

In [51]:
print(x);print(y)

['all']
['nx']

In [52]:
str = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\bain", str)

print(x)

[]

In [59]:
a = [1,2,3,4]
b = a
print(b)
b.append(9)

[1, 2, 3, 4]

In [60]:
b = [6,7]

In [61]:
print(a)

[1, 2, 3, 4, 9]

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
data = pd.read_excel("USDBRL_TickPrice_0510_0810.xlsx", index_col = 0)

In [72]:
data.head(2)

,Close,Strike,1W Maturity,1M Maturity,3M Maturity,V1W,V1M,V3M,d1_1w,d1_1m,...,Net_Delta_1M,Net_Delta_3M,No_of_Contracts_1W,No_of_Contracts_1M,No_of_Contracts_3M,PnL_1W,PnL_1M,PnL_3m,rf,0.065
Dates,,,,,,,,,,,,,,,,,,,,,
2018-05-10 13:01:00,3.5807,3.5807,0.019841,0.083333,0.250000,0.1394,0.1268,0.12865,-0.009930,-0.020350,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,r,0.020000
2018-05-10 13:02:00,3.5832,3.5807,0.019839,0.083331,0.249997,0.1394,0.1268,0.12865,0.005509,-0.012817,...,215367.853659,-70237.154317,-11.386719,-4.299198,1.402082,551043.759768,200379.549006,-50094.887252,Vol_fn_1W_a,-5.347997